@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-height: 100vh;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(5%, 120px) 1fr;
    grid-template-rows: auto 1fr minmax(5%, 120px);
  }
}

@layer components {
  .bg-note {
    background: -webkit-linear-gradient(
      top,
      #01517e 0%,
      #01517e 1px,
      rgba(255, 255, 255, 0) 1px,
      rgba(255, 255, 255, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      #01517e 0%,
      #01517e 1px,
      rgba(255, 255, 255, 0) 1px,
      rgba(255, 255, 255, 0) 100%
    );
    background-size: 100% 32px;
  }
}

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
