@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-height: 100vh;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(5%, 120px) 1fr;
    grid-template-rows: auto 1fr auto;
  }
}

@layer components {
}

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
